@inherits LayoutComponentBase

<PageTitle>Weather Forecast Demo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m,relativehumidity_2m,windspeed_10m&past_days=30" target="_blank">API referece</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
