@using WeatherForecastApp.Models

<table class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Temperature (2m height)</th>
            <th>Relative Humidity (2m height)</th>
            <th>Wind Speed (10m height)</th>
        </tr>
    </thead>
    <tbody>
        @if (ClimateData != null && ClimateData.Hourly != null)
        {
            @foreach (var index in Enumerable.Range(0, ClimateData.Hourly.Time.Length))
            {
                <tr>
                    <td>@DateTime.Parse(ClimateData.Hourly.Time[index]).ToString("MM-dd-yyyy hh:mm tt")</td>
                    <td>@ClimateData.Hourly.TemperatureTwoM[index]</td>
                    <td>@ClimateData.Hourly.RelativeHumidityTwoM[index]</td>
                    <td>@ClimateData.Hourly.WindSpeedTenM[index]</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public ClimateDataPoints ClimateData { get; set; }
}
